{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">Goals</a>

            <br><br>
            Add Goal Step for "{{ goal.name }}"<br>

            <br>
            <b>Target Value:</b> {{ goal.targetValue }}<br>
            <b>Last recorded date:</b> {{ goal.lastRecordedDate|date }}<br>
            <b>Last recorded value:</b> {{ goal.lastRecordedValue }}<br>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}