{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">Goals</a>

            <h2>Add Goal Step for "{{ goal.name }}"</h2>

            <table class="table table-striped">
                <tr>
                    <td>Target Value:</td>
                    <td>{{ goal.targetValue }}</td>
                </tr>
                <tr>
                    <td>Last recorded date:</td>
                    <td>{{ goal.lastRecordedDate|date }}</td>
                </tr>
                <tr>
                    <td>Last recorded value:</td>
                    <td>{{ goal.lastRecordedValue|round(2) }}</td>
                </tr>
            </table>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}