{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <a href="{{ url('goals_create') }}">Create Goal</a>
            <ul>
                {% for goal in goals %}
                    <li>
                        {{ goal.name }};
                        <b>Average per day:</b> {{ goal.calculateAveragePerDay|round(2) }} <br>
                        {% if goal.isActive %}
                            <a href="{{ url('goals_steps_new', {id: goal.id}) }}">Add Goal Step</a>
                            {{ form(deleteForms[goal.id.id]) }}
                        {% endif %}
                        <a href="{{ url('goal', {id: goal.id}) }}">View</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}