{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">Goals</a>

            <table class="table table-striped">
                <tr>
                    <td>Name:</td>
                    <td>{{ goal.name }}</td>
                </tr>
                <tr>
                    <td>Started At:</td>
                    <td>{{ goal.startedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <td>Active:</td>
                    <td>{{ goal.active ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <td>Target Date:</td>
                    <td>{{ goal.targetDate|date }}</td>
                </tr>
                <tr>
                    <td>Target Value:</td>
                    <td>{{ goal.targetValue }}</td>
                </tr>
                <tr>
                    <td>Initial Value:</td>
                    <td>{{ goal.initialValue }}</td>
                </tr>
                <tr>
                    <td>Last recorded date:</td>
                    <td>{{ goal.lastRecordedDate|date }}</td>
                </tr>
                <tr>
                    <td>Last recorded value:</td>
                    <td>{{ goal.lastRecordedValue|round(2) }}</td>
                </tr>
                <tr>
                    <td>Initial Average per day:</td>
                    <td>{{ goal.calculateInitialAveragePerDay|round(2) }}</td>
                </tr>
                <tr>
                    <td>Average per day:</td>
                    <td>{{ goal.calculateAveragePerDay|round(2) }}</td>
                </tr>
                <tr>
                    <td>Progress:</td>
                    <td>{{ goal.calculateCurrentPercentage()|round(2) }}%</td>
                </tr>
            </table>

            <ul>
                <li>Initially logged: {{ goal.initialValue }}, {{ goal.startedAt|date }}</li>
                {% set goalSteps = goal.getGoalSteps() %}
                {% for step in goalSteps %}
                    <li>
                        {% set expectedValue = goal.calculateExpectedValueAt(step.recordedAt) %}
                        {% set delta = step.value - expectedValue %}
                        value: {{ step.value|round(2) }};
                        <b>expected value: {{ expectedValue|round(2) }} (<span style="color: {{ goal.isPositiveDelta(delta) ? 'green' : 'red' }}">{{ (delta < 0 ? '-' : '+') ~ delta|round(2) }}</span>)</b>
                        date: {{ step.recordedAt|date }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}