{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">Goals</a>

            <div>Name: {{ goal.name }}</div>
            <div>started at: {{ goal.startedAt|date('Y-m-d H:i:s') }}</div>
            <div>active: {{ goal.active ? 'Yes' : 'No' }}</div>

            <br>
            <b>Target Date:</b> {{ goal.targetDate|date }}<br>
            <b>Target Value:</b> {{ goal.targetValue }}<br>
            <b>Initial Value:</b> {{ goal.initialValue }}<br>
            <b>Last recorded date:</b> {{ goal.lastRecordedDate|date }}<br>
            <b>Last recorded value:</b> {{ goal.lastRecordedValue }}<br>
            <b>Initial Average per day:</b> {{ goal.calculateInitialAveragePerDay|round(2) }}<br>
            <b>Average per day:</b> {{ goal.calculateAveragePerDay|round(2) }}<br>

            <ul>
                <li>Initially logged: {{ goal.initialValue }}, {{ goal.startedAt|date }}</li>
                {% set goalSteps = goal.getGoalSteps() %}
                {% for step in goalSteps %}
                    <li>
                        {% set expectedValue = goal.calculateExpectedValueAt(step.recordedAt) %}
                        {% set delta = step.value - expectedValue %}
                        value: {{ step.value|round(2) }};
                        <b>expected value: {{ expectedValue|round(2) }} (<span style="color: {{ goal.isPositiveDelta(delta) ? 'green' : 'red' }}">{{ (delta < 0 ? '-' : '+') ~ delta|round(2) }}</span>)</b>
                        date: {{ step.recordedAt|date }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
