{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">Goals</a>

            <div>Name: {{ goal.name }}</div>
            <div>started at: {{ goal.startedAt|date('Y-m-d H:i:s') }}</div>
            <div>active: {{ goal.active ? 'Yes' : 'No' }}</div>

            <br>
            <b>Target Date:</b> {{ goal.targetDate|date }}<br>
            <b>Target Value:</b> {{ goal.targetValue }}<br>
            <b>Initial Value:</b> {{ goal.initialValue }}<br>
            <b>Last recorded date:</b> {{ goal.lastRecordedDate|date }}<br>
            <b>Last recorded value:</b> {{ goal.lastRecordedValue }}<br>
            <b>Initial Average per day:</b> {{ goal.calculateInitialAveragePerDay|round(2) }}<br>
            <b>Average per day:</b> {{ goal.calculateAveragePerDay|round(2) }}<br>

            <ul>
                <li>Initially logged: {{ goal.initialValue }}, {{ goal.startedAt|date }}</li>
                {% set goalSteps = goal.getGoalSteps() %}
                {% for step in goalSteps %}
                    <li>
                        {% set expectedValue = goal.calculateExpectedValueAt(step.recordedAt) %}
                        {% set delta = step.value - expectedValue %}
                        value: {{ step.value|round(2) }};
                        <b>expected value: {{ expectedValue|round(2) }} (<span style="color: {{ goal.isPositiveDelta(delta) ? 'green' : 'red' }}">{{ (delta < 0 ? '-' : '+') ~ delta|round(2) }}</span>)</b>
                        date: {{ step.recordedAt|date }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}