{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <a href="{{ url('abstinences_create') }}">Create Abstinence</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Day Streak</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for abstinence in abstinences %}
                    <tr class="{% if abstinence.isActive %}active {% endif %}">
                        <td>{{ abstinence.name }}</td>
                        <td>{{ abstinence.calculateDayStreak.getDayStreakCount() }} days streak</td>
                        <td>
                            {% if abstinence.isActive %}
                                <a href="{{ url('abstinences_violates_new', {id: abstinence.id}) }}">Violate</a>
                                {{ form(deleteForms[abstinence.id.id]) }}
                            {% endif %}
                            <a href="{{ url('abstinence', {id: abstinence.id}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
