{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('abstinences') }}">Abstinences</a>

            <div>Name: {{ abstinence.name }}</div>
            <div>started at: {{ abstinence.startedAt|date('Y-m-d H:i:s') }}</div>
            <div>active: {{ abstinence.active ? 'Yes' : 'No' }}</div>
            {% set longestStreak = abstinence.calculateLongestStreak %}
            <div>The longest streak day count: {{ longestStreak.dayStreakCount }}</div>
            <div>The longest streak period: {{ longestStreak.startDate|date ~ '   -   ' ~ longestStreak.finishDate|date }}</div>

            <ul>
                {% set violations = abstinence.getViolations() %}
                {% for violation in violations %}
                    <li>
                        {% if violation.reason %}reason: {{ violation.reason }}{% endif %}
                        date: {{ violation.violationDate|date('Y-m-d H:i:s') }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}